<!DOCTYPE html>
<html>
    <head>
        <title>User-Signup</title>
        <style type="text/css">
            .error {
                color: red;
            }
            label {
                line-height: 1.3rem;
            }
            
        </style>
    </head>
    <body>
        <h1>Signup</h1>

        {% block content %}
        {% endblock %}
        <form method="POST" action="/signup">
            <table>
                <tbody>
                    <tr>
                        <td><label>Username</label></td>
                        <td><input name="username" type="text" />
                        <span class="error">{{ username_error }}</span>
                        </td>
                    </tr>

                    <tr>
                            <td><label>Password</label></td>
                            <td><input name="password" type="password" />
                            <span class="error">{{ password_error }}</span>
                            </td>
                    </tr>
                    
                    <tr>
                            <td><label>Verify Password</label></td>
                            <td><input name="verify-password" type="password" />
                            <span class="error">{{ verify_password_error }}</span>
                            </td>
                    </tr>
        
                    <tr>
                            <td><label>Email (optional)</label></td>

                            <td><input name="email" type="text" />
                            <span class="error">{{ email_error }}</span>
                            </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" name="signup" />
        </form>
    </body>
</html>
