{% extends "base.html" %}

{% block content %}
<form method="POST" action="/signup">
    <table>
        <tbody>
            <tr>
                <td><label>Username</label></td>
                <td><input name="username" type="text" value="{{ request.form['username'] }}" />
                <span class="error">{{ username_error }}</span>
                </td>
            </tr>

            <tr>
                    <td><label>Password</label></td>
                    <td><input name="password" type="password" />
                    <span class="error">{{ password_error }}</span>
                    </td>
            </tr>
            
            <tr>
                    <td><label>Verify Password</label></td>
                    <td><input name="verify-password" type="password" />
                    <span class="error">{{ verify_password_error }}</span>
                    </td>
            </tr>

            <tr>
                    <td><label>Email (optional)</label></td>

                    <td><input name="email" type="text" value="{{ request.form['email'] }}"/>
                    <span class="error">{{ email_error }}</span>
                    </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" name="signup" />
</form>
{% endblock %}
